@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.counter-cont h1{
  color: rgb(80, 85, 85);
  text-shadow: 2px 2px 1px rgb(112, 198, 238);
  padding-top: 3%;
}
.counter-cont{
  padding: 2%;;
}


