.contain img{
    width:1350px;
    height: 600px;
}
.contain{
    /* background:lightcyan ; */
    padding-bottom: 30px;
    padding-top:5%;
    margin-top: 5%;
}
.contain h1{
   padding: 15px;
   padding-top: 3%;
   text-shadow: 2px 2px 2px rgb(2, 78, 2);
   color: rgb(52, 184, 12);
}